.navbar {
  border-bottom: 1px solid #a2aebc;
  background: white;
  height: 53px;
}

.navbar-brand img {
  height: 25px;
  width: 100%;
}

.active {
  background-color: #f0f5ff;
  position: relative;
}

.active:after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #3478fc;
  bottom: 0px;
  left: 0px;
}

.navbar-nav .nav-link {
  font-size: 13px;
  padding: 16px;
}

.menu-right a {
  display: block;
  width: 50px;
  position: relative;
}

span.notif-count {
  position: absolute;
  content: "";
  background-color: #3478fc;
  color: #fff;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: -5px;
  right: 10px;
  font-size: x-small;
  text-align: center;
  line-height: 13px;
}
